    /*Grid-Layout Bereich*/
    
    body {
        height: 100vh;
        width: auto;
        display: grid;
        grid-template-rows: 45px 1fr;
        grid-template-columns: 180px 1fr;
        grid-template-areas: "header header" "sidebar content";
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        background-color: #F2F2F2;
    }
    
    header {
        grid-area: header;
        background-color: black;
        z-index: 10;
    }
    /*Bereich der Sidebar*/
    
    sidebar {
        grid-area: sidebar;
        background-color: #424242;
        position: absolute;
        width: 240px;
        height: 100%;
        left: -170px;
        transition: all 300ms linear;
        z-index: 8;
    }
    
    sidebar.active {
        left: 0px;
    }
    
    sidebar .toggle_btn {
        position: absolute;
        right: 10px;
        bottom: 4px;
    }
    
    sidebar .toggle_btn.active {
        position: absolute;
        right: 170px;
        bottom: 4px;
    }
    
    sidebar .toggle_btn #toggle_icon {
        height: 35px;
        width: 35px;
        margin-right: 7px;
        margin-bottom: 7px;
    }
    
    .sidebar_content {
        position: fixed;
        top: 100px;
    }
    
    .sidebar_content th {
        text-align: left;
        font-weight: bold;
        color: white;
    }
    
    .sidebar_contentImg {
        height: 35px;
        width: 35px;
        padding: 10px;
    }
    
    .sidebar_content img #picture_1 {
        position: fixed;
        top: 0px;
    }
    
    .sidebar_content img #picture_2 {
        position: fixed;
        top: 0px;
    }
    
    content {
        grid-area: content;
        transition: all 300ms linear;
    }
    
    content.active {
        margin-left: 170px;
    }
    /*Bereich Content*/
    
    #content_area {
        margin: 4em 1em;
        float: left;
        display: flex;
        align-items: flex-start;
    }
    /*Mittiger Bereich der ToDo-Listen*/
    /*Liste in weißem Feld*/
    
    .list_areaClass {
        position: relative;
        min-width: 270px;
        background-color: white;
        padding: 6px;
        float: left;
        margin: 0 1em;
    }
    
    .titelListe {
        font-size: 16px;
        font-weight: bold;
    }
    
    .box_list {
        max-width: 270px;
        height: auto;
        padding: 6px;
        display: table;
    }
    /*Titel für "Incompleted Tasks*/
    
    h3 {
        font-size: 14px;
        padding: 6px;
        border-bottom: 1px solid black;
        color: grey;
    }
    
    #ul_incompleteTasks {
        margin: 0;
        padding: 0;
    }
    
    #ul_completedTasks {
        text-decoration: line-through;
        margin: 0;
        padding: 0;
    }
    
    li {
        cursor: pointer;
        position: relative;
        padding: 6px;
        list-style-type: none;
        background-color: white;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .checkbox {
        float: left;
        width: 20px;
        margin-right: 5px;
    }
    
    input {
        margin-left: -3px;
        margin-right: 22px;
        border: none;
        padding: 6px 3px;
        float: left;
        width: 200px;
    }
    
    .addButton {
        width: 28px;
        padding: 7px 1px;
        float: right;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 0;
    }
    
    #addButton:hover {
        background-color: #bbb;
    }
    
    .close {
        position: absolute;
        right: 8px;
        top: 0px;
        padding: 8px 1px;
        width: 28px;
        z-index: 5;
        text-align: center;
    }
    /*Beim Hovern über den Close-Button - Automatisches Hovern über bttnBereich*/
    
    .close:hover,
    .bttnBereich:hover {
        background-color: black;
        color: white;
        visibility: visible;
    }
    
    .close:hover~.bttnBereich,
    .bttnBereich:hover~.close {
        background-color: black;
        color: white;
        visibility: visible;
    }
    
    .bttnBereich {
        visibility: hidden;
        position: absolute;
        float: right;
        width: 23px;
        height: 22px;
        right: -22px;
        top: 0px;
        z-index: 5;
        padding: 5px;
    }
    /*Klasse der Icons (Löschen, Hinzufügen, Edit)*/
    
    .bttnBereichIcons {
        width: 20px;
        padding: 5px;
    }
    
    #homebutton {
        width: 30px;
        margin: 7px 18px;
    }
    
    .neue_liste {
        margin: 0 1em;
        min-width: 270px;
        background-color: white;
        padding: 6px;
        float: right;
        display: flex;
    }
    
    .neue_ListeClass {
        max-width: 270px;
        height: auto;
        padding: 6px;
        display: table;
    }
    
    #neue_listeTitel {
        color: black;
    }
    
    #neuesFormular {
        vertical-align: center;
    }